{% extends 'base.html' %}
{% block css %}
    <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
{% endblock %}
{% block index %}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>密码修改成功</title>
    <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
</head>
<body>
<div class="flex-center">
    <div class="container">
        <div>
            <h1 class="logo"><a href="{% url 'index' %}">SCAU_CF排行榜系统</a></h1>
            <p>密码修改成功！5秒后跳转回主页</p>
            <meta http-equiv="refresh" content="5;url=/">
        </div>
    </div>
</div>
</body>
</html>
{% endblock %}