<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>忘记密码</title>
    <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
</head>
<body>
<div class="flex-center">
    <div class="container">
        <div class="flex-center">
            <div class="unit-1-2 unit-1-on-mobile">
                <h1><a href="{% url 'index' %}">SCAU_CF排行榜系统</a></h1>
                <h3>修改密码</h3>
                <form class="form" action="{% url 'logreg:reset_password' %}" method="post">
                    {% csrf_token %}
                    <p class="form">用户名:</p>
                    <input type="text" class="form" id="user" name="user">
                    <span id="user_exist"></span>
                    <button type="button" class="btn btn-primary" id="captcha" disabled>验证</button>
                    <p><span id="okay"></span></p>
                    <p class="form">新密码:</p>
                    <input type="password" class="form" id="password1" name="password1">
                    <span id="password_error"></span>
                     <p class="help text-small text-muted">
                         <ul>
                            <li>你的密码不能与其他个人信息太相似。</li>
                            <li>你的密码必须包含至少 8 个字符。</li>
                            <li>你的密码不能是大家都爱用的常见密码。</li>
                            <li>你的密码不能全部为数字。</li>
                         </ul>
                     </p>
                    <p class="form">确认密码:</p>
                    <input type="password" class="form" id="password2" name="password2">
                    <span id="pastex"></span>
                    <button type="submit" class="btn btn-primary btn-block" id="submit" disabled>确认修改</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    var userflag = false;
    var pasflag = false;
    var pasflg2 =false;
    var time = 0;
    var hand = "";
    $("#user").keyup(function () {
          var tex = $('#user').val();
          var ans = "";
          $.get('/ajax/user_exist/',{'tex':tex, csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val()},function (ret) {
              for (var i=0; i< 4; ++i)
                  ans += ret[i];
              if (ans == 'true') {
                  $('#user_exist').html("<p class=\"text-primary\">用户存在!</p>");
                  $('#captcha').removeAttr('disabled');
                  userflag = true;
                  hand = "";
                  for(var i=4; i<ret.length; ++i)
                      hand+=ret[i];
              }
              else {
                  $('#user_exist').html("<p class=\"text-danger\">用户名不存在!</p>");
                  $('#captcha').attr('disabled',true);
                  userflag = false;
              }
              if (userflag && pasflag && pasflg2){
                  $('#submit').removeAttr('disabled');
              }
              else{
                  $('#submit').attr('disabled',true);
              }
          });
      });
    $("#captcha").click(function(){
          var tex = $('#user').val();
          if (time == 0){
              time = 60; //秒数
              $.ajax({
                type:"POST",
                url:"/ajax/reset_password_captcha/",
                data:{'tex':tex, csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val()},
                success: function(ret){
                    $('#okay').html(ret.result)
                }
              })
              //启动计时器，倒计时time秒后自动关闭计时器。
            var index = setInterval(function(){
            time--;
            $('#captcha').html('验证('+time+'秒)')
            if (time == 0) {
                $('#captcha').html('重新获取')
                clearInterval(index);
            }
            }, 1000);
          }
          else{
              alert(time+'秒后才能重新发送验证码');
          }
    });
    $('#password1').keyup(function () {
          var tex = $('#password1').val();
          var com = $('#password2').val();
          var ans = "";
          $.get('/ajax/password_check/',{'tex':tex, csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val()},function (ret) {
              for (var i=0; i< ret.length; ++i)
                  ans += ret[i];
              if (ans == 'true') {
                  $('#password_error').html("<p class=\"text-primary\">密码可用!</p>");
                  pasflag = true;
              }
              else {
                  $('#password_error').html("<p class=\"text-danger\">密码不可用!</p>");
                  pasflag = false;
              }
              if (userflag && pasflag && pasflg2){
                  $('#submit').removeAttr('disabled');
              }
              else{
                  $('#submit').attr('disabled',true);
              }
          });
          if(tex == com){
              $('#pastex').html("<p class=\"text-primary\">密码输入一致!</p>");
              pasflg2 = true;
          }
          else{
              $('#pastex').html("<p class=\"text-danger\">密码输入不一致!</p>");
              pasflg2 = false;
          }
          if (com == "")
              {$('#pastex').html("");}
          if (userflag && pasflag && pasflg2){
              $('#submit').removeAttr('disabled');
          }
          else{
              $('#submit').attr('disabled',true);
          }
      });
      $('#password2').keyup(function () {
          var tex = $('#password1').val();
          var com = $('#password2').val();
          if(tex == com){
              $('#pastex').html("<p class=\"text-primary\">密码输入一致!</p>");
              pasflg2 = true;
          }
          else{
              $('#pastex').html("<p class=\"text-danger\">密码输入不一致!</p>");
              pasflg2 = false;
          }
          if (com == ""){$('#pastex').html("");}
          if (userflag && pasflag && pasflg2){
              $('#submit').removeAttr('disabled');
          }
          else{
              $('#submit').attr('disabled',true);
          }
      });
</script>
</body>
</html>