{% extends 'board/board.html' %}
{% block title %}
    {{ time }}
{% endblock %}
{% block content %}
    {% for user in users %}
{#        {% if user.rating %}#}
            <tr>
                <th scope="row">{{ user.rank }}</th>
                <td>{{ user.grade }}</td>
                <td>{{ user.realname }}{{ user.nickname }}</td>
                <td>{{ user.handle }}</td>
                <td><span class="rating">{{ user.rating }}</span></td>
                <td>{{ user.times }}</td>
                {#            <td><a href="profile/{{ user.handle }}">查看分数变化曲线</a></td>#}
                <td><a href="{% url 'board:user_profile' user.handle %}">查看分数变化曲线</a></td>
            </tr>
{#        {% endif %}#}
    {% endfor %}
{% endblock %}
