{% extends 'base.html' %}
{% load staticfiles %}
{% block js %}
    <script>
        $(document).ready(function () {
            $('.nav-link').removeClass('active')
            $('#nav-element3').addClass('active')
        })
    </script>
{% endblock %}
{% block index %}
    {% csrf_token %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" data-toggle="list"
                       href="/admin" role="tab" aria-controls="home" id="element1">编辑排行榜</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list"
                       href="/admin/list_add" role="tab" aria-controls="profile" id="element2">增加名单</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list"
                       href="/admin/list_override" role="tab" aria-controls="messages" id="element3">覆盖名单</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list"
                       href="/admin/set_auto_update" role="tab" aria-controls="messages" id="element4">设置自动更新</a>
                </div>
            </div>
            <div class="col">
                {% block content %}
                {% endblock %}
            </div>
            <div class="col-2">
            </div>
        </div>
        {% block second_row %}
        {% endblock %}
    </div>
{% endblock %}
