{% extends 'base.html' %}
{% block css %}
    <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
{% endblock %}
{% block index %}
    <div class="flex-center">
    <div class="container">
        <div class="flex-center">
            <div class="unit-1-2 unit-1-on-mobile">
                <h3>用户{{ user_name }}注册成功！</h3>
                <p>5秒后跳转到登录界面</p>
            <meta http-equiv="refresh" content="5;url=/logreg/login/?next=/">
            </div>
        </div>
    </div>
</div>
{% endblock %}