<!DOCTYPE html>
{% load staticfiles %}
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block head %}
    {% endblock %}
    <title>
        {% block title %}
            SCAU-CF
        {% endblock %}
    </title>
    {% block css %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static "/bootstrap/css/bootstrap.min.css" %}">

</head>
<body>
<script src="{% static "/jquery-3.3.1.min.js" %}"></script>
{% block js %}
{% endblock %}
<ul class="nav nav-tabs">
    <a class="navbar-brand" href="/">SCAU-CF</a>
    <li class="nav-item">
        <a class="nav-link active" href="/">首页</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="nav-element2" href="/board">排行榜</a>
    </li>
    {% if user.is_superuser %}
        <li class="nav-item">
            <a class="nav-link" id="nav-element3" href="/admin">管理</a>
        </li>
    {% endif %}
    {% if user.is_authenticated %}
        <span class="navbar-text" , style="margin-left: auto"></span>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logreg:modify_self' %}">{{ user.username }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'password_change' %}">修改密码</a>
        </li>
        <li class="nav-item" style="text-align: right">
            <a class="nav-link" href="{% url 'logout' %}?next={{ request.path }}">退出</a>
        </li>
    {% else %}
        <li class="nav-item" , style="margin-left: auto">
            <a class="nav-link" href="/logreg/login">登录</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logreg/register">注册</a>
        </li>
    {% endif %}
</ul>
{% block index %}
{% endblock %}
<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">©2018-2019 Ben & Toshi</p>
</footer>
</body>
</html>