{% extends 'superuser/list_tab.html' %}
{% block js %}
    <script>
        $(document).ready(function () {
            $(".list-group-item").removeClass("active")
            $('#element1').addClass('active')
            $('.list-group-item').click(function () {
                window.location.href = $(this).attr('href')
            })
        })
    </script>
{% endblock %}
{% block content %}
    {% csrf_token %}
    <table class="table">
        <tr>
            <th style="border:0px;">排行榜名称</th>
            <td style="border:0px;"><input type="text" class="form-control" required value="{{ board.name }}" id="board_name"></td>
            <th style="border:0px;">排行榜类型</th>
            <td style="border:0px;"><select class="form-control" required="required" id="board_type">
                {% if board.type == "rating" %}
                    <option class="form-control" value="rating">分数榜</option>
                    <option class="form-control" value="rating_change">升级榜</option>
                    <option class="form-control" value="max_three">最高三场</option>
                {% elif board.type == "rating_change" %}
                    <option class="form-control" value="rating_change">升级榜</option>
                    <option class="form-control" value="rating">分数榜</option>
                    <option class="form-control" value="max_three">最高三场</option>
                {% elif board.type == "max_three" %}
                    <option class="form-control" value="max_three">最高三场</option>
                    <option class="form-control" value="rating">分数榜</option>
                    <option class="form-control" value="rating_change">升级榜</option>
                {% endif %}
            </select> </td>
        </tr>
        <tr>
            <th  style="border:0px;">开始时间</th>
            <td  style="border:0px;"><input class="form-control" type="datetime-local" name="start_time" required id="start_time"></td>
            <th  style="border:0px;">截止时间</th>
            <td  style="border:0px;"><input type="datetime-local" class="form-control" required id="end_time" ></td>
        </tr>
        <tr>
            <td  colspan="4" align="center" style="border:0px;">
                <button class="btn btn-primary " id="board_save" type="button">修改排行榜</button>
            </td>
        </tr>
    </table>
    <table class="table">
        <tr>
            <th scope="col">账号</th>
            <th scope="col">姓名</th>
            <th scope="col">年级</th>
            <th scope="col" style="text-align: center">操作</th>
        </tr>
        {% for user in users %}
            <tr>
            <td style="border: 0px;"><input class="form-control" value="{{ user.handle }}" id="{{ user.id }}_handle"></td>
            <td style="border: 0px;"><input class="form-control" value="{{ user.realname }}" id="{{ user.id }}_realname"></td>
            <td style="border: 0px;"><select class="form-control" id="{{ user.id }}_grade"></select></td>
            <td align="center" style="border:0px;">
                    <button class="btn btn-primary" id="{{ user.id }}_save" type="button">修改</button>
                    <button class="btn btn-primary" id="{{ user.id }}_delete" type="button">删除</button>
            </td>
            </tr>
        {% endfor %}
        <tr>
            <td style="border: 0px;"><input class="form-control" required id="new_handle"></td>
            <td style="border: 0px;"><input class="form-control" required id="new_realname"></td>
            <td style="border: 0px;"><select class="form-control" required id="new_grade"></select></td>
            <td align="center" style="border:0px;">
                    <button class="btn btn-primary" id="new_save" type="button">新增</button>
            </td>
        </tr>
    </table>
    <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
        function getStart(){
        format = "";
        format += {{ board.start_time.year }}+"-";
        format += ({{board.start_time.month}})<10?"0"+({{board.start_time.month}}):({{board.start_time.month}});
        format += "-";
        format += ({{board.start_time.day}})<10?"0"+({{board.start_time.day}}):({{board.start_time.day}});
        format += "T";
        format += ({{ board.start_time.hour }})<10?"0"+({{board.start_time.hour}}):({{ board.start_time.hour }});
        format += ":";
        format += ({{board.start_time.minute}})<10?"0"+({{board.start_time.minute}}):({{board.start_time.minute}});
        format += ":00";
        return format;
        }
        $('#start_time').val(getStart());
        function getEnd(){
        format = "";
        format += {{ board.end_time.year }}+"-";
        format += ({{board.end_time.month}})<10?"0"+({{board.end_time.month}}):({{board.end_time.month}});
        format += "-";
        format += ({{board.end_time.day}})<10?"0"+({{board.end_time.day}}):({{board.end_time.day}});
        format += "T";
        format += ({{ board.end_time.hour }})<10?"0"+({{board.end_time.hour}}):({{ board.end_time.hour }});
        format += ":";
        format += ({{board.end_time.minute}})<10?"0"+({{board.end_time.minute}}):({{board.end_time.minute}});
        format += ":00";
        return format;
        }
        $('#end_time').val(getEnd());
        $('#board_save').click(function () {
          var name =$('#board_name').val();
          var type = $('#board_type').val();
          var start_time = $('#start_time').val();
          var end_time = $('#end_time').val();
          $.ajax({
              type: "POST",
              url: "/admin/modify_board_board",
              data: {
                  "name": name,
                  "type": type,
                  "start_time": start_time,
                  "end_time": end_time,
                  "id": {{ board.id }},
                  csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val()
              },
              success: function (ret) {
                alert("修改成功！");
              }
          })
        })
        $('#new_save').click(function () {
            var handle = $('#new_handle').val();
            var realname = $('#new_realname').val();
            var grade = $('#new_grade').val();
            $.ajax({
                type:"POST",
                url:"/admin/modify_board_add_user",
                data:{
                    "id": {{ board.id }},
                    "handle": handle,
                    "realname": realname,
                    "grade": grade,
                    csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val()
                },
                success: function (ret) {
                    alert(ret.res);
                }
            })
        })
        var date = new Date().getFullYear();
        date = date % 100;
        {% for user in users %}
            var grade = document.getElementById("{{ user.id }}_grade");
            for(var i = 1; i <= date; i++){
                if(i < 10)
                    grade.options.add(new Option('0' + i.toString(), i));
                else
                    grade.options.add(new Option(i.toString(), i));
            }
            if({{ user.grade }} == 0)
                $('#{{ user.id }}_grade').val(date)
            else
                $('#{{ user.id }}_grade').val({{ user.grade }});
        {% endfor %}
            var grade = document.getElementById("new_grade");
            for(var i = 1; i <= date; i++){
                if(i < 10)
                    grade.options.add(new Option('0' + i.toString(), i));
                else
                    grade.options.add(new Option(i.toString(), i));
            }
            $('#new_grade').val(date);
        {% for user in users %}
            $('#{{ user.id }}_save').click(function () {
                var handle = $('#{{ user.id }}_handle').val();
                var realname = $('#{{ user.id }}_realname').val();
                var grade = $('#{{ user.id }}_grade').val();
                $.ajax({
                    type:"POST",
                    url:"/admin/modify_board_modify_user",
                    data:{
                        "id": {{ user.id }},
                        "handle": handle,
                        "realname": realname,
                        "grade": grade,
                        csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val()
                    },
                    success: function (ret) {
                        alert(ret.res);
                    }
                })
            })

            $('#{{ user.id }}_delete').click(function () {
                var con = window.confirm("确认删除" + $('#{{ user.id }}_realname').val() + '?');
                if (con) {
                    $.ajax({
                        type: "POST",
                        url: "/admin/modify_board_del_user",
                        data: {
                            "id": {{ user.id }},
                            "board_id": {{ board.id }},
                            csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val()
                        },
                        success: function (ret) {
                            alert("修改成功！");
                        }
                    })
                }
            })
        {% endfor %}
        
    </script>
{% endblock %}