{% extends 'superuser/list_tab.html' %}
{% load staticfiles %}
{% block js %}
    {{ block.super }}
    <script src="{% static '/superuser/board_modify.js' %}"></script>
{% endblock %}
{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">名称</th>
            <th scope="col">类型</th>
            <th scope="col">开始时间</th>
            <th scope="col">结束时间</th>
            <th scope="col">创建人</th>
        </tr>
        </thead>
        <tbody>
        {% for board in boards %}
            <tr class="element">
                <th scope="row">{{ board.id }}</th>
                <td>{{ board.name }}</td>
                <td>{{ board.type }}</td>
                <td>{{ board.start_time }}</td>
                <td>{{ board.end_time }}</td>
                <td>{{ board.creator }}</td>
                <td>
                    <button class="btn btn-primary" disabled="disabled">编辑</button>
                </td>
                <td>
                    <button class="btn btn-primary delete" id="board{{ board.id }}">删除</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <table class="table">
        <tbody>
        <td align="center" style="border:0px;">
            <a class="btn btn-primary" href="board/create">创建新排行榜</a>
        </td>
        <td align="center" style="border:0px;">
            <button type="submit" class="btn btn-primary" id="btn_delete_all">删除所有标记项</button>
        </td>
        </tbody>
    </table>
{% endblock %}